[submodule "modules/prezto"]
	path = modules/prezto
	url = git@github.com:mrtnbroder/prezto.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
