# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

src/.config/fish/fish_variables
src/.config/fish/functions/_*
src/.config/fish/functions/getopts.fish
src/.config/fish/functions/fish_title.fish
src/.config/fish/functions/fish_prompt.fish
src/.config/fish/functions/fish_mode_prompt.fish
src/.config/fish/conf.d
src/.vim/plugged
