always-auth=true
loglevel=warn
# https://docs.npmjs.com/cli/v8/using-npm/config#tag-version-prefix
# do not append `v` prefix to versions automatically
tag-version-prefix=""
# https://docs.npmjs.com/cli/v8/using-npm/config#save-prefix
# default is "^", allow minor versions
save-prefix="^"
ignore-scripts=true
@nomads:registry=https://registry.anyplace.com
@anyplace:registry=https://registry.anyplace.com
