simplified_ui true
pane_frames true
web_server false
show_startup_tips false
copy_on_select true
default_layout "compact"
theme "tokyo-night-dark"
welcome_screen false
copy_command "pbcopy"

plugins {
  compact-bar location="zellij:compact-bar" {
    tooltip "F1"
  }
}

ui {
  pane_frames {
    hide_session_name true
  }
}
