simplified_ui true
pane_frames true
web_server false
show_startup_tips false
copy_on_select true
default_layout "compact"
theme "tokyo-night-dark"

compact-bar location="zellij:compact-bar" {
  tooltip "F1"
}

ui {
  pane_frames {
    rounded_corners false
    hide_session_name true
  }
}
