; vim: ft=gitconfig

[gpg]
	program = /usr/local/bin/gpg

[color]
	ui = auto
	interactive = auto

[credential]
	helper = osxkeychain

[merge]
	ff = only

[diff]
	tool = mvimdiff

[commit]
	verbose = true
	gpgsign = true
	template = ~/.gitmessage

[push]
	default = current

[tag]
	forceSignAnnotated = true

[rebase]
	autosquash = true

[core]
	excludesfile = ~/.gitignore
	commitGraph = true
	autocrlf = input
	editor = $EDITOR

[fetch]
	prune = true

[mergetool]
	keepBackup = false

[include]
	path = ~/.gitconfig.local
