always-auth=true
loglevel=warn
ignore-scripts=true
//registry.npmjs.org/:_authToken=312313c1-b4d8-4ea4-905e-6e5ae2a6de46
@anyplace:registry=https://registry.anyplace.com
//registry.anyplace.com/:_authToken=SkS6x5VAKt2c8j8XN0X+jVzcn1rx77MvvcpH6r+NooQY1MUuAMJJQ+iakMCB8eph
