always-auth=true
loglevel=warn
# https://docs.npmjs.com/cli/v8/using-npm/config#tag-version-prefix
# do not append `v` prefix to versions automatically
tag-version-prefix=""
# https://docs.npmjs.com/cli/v8/using-npm/config#save-prefix
# default is "^", allow minor versions
save-prefix="^"
ignore-scripts=true
//registry.npmjs.org/:_authToken=312313c1-b4d8-4ea4-905e-6e5ae2a6de46
@nomads:registry=https://registry.anyplace.com
@anyplace:registry=https://registry.anyplace.com
//registry.anyplace.com/:_authToken=SkS6x5VAKt2c8j8XN0X+jVzcn1rx77MvvcpH6r+NooQY1MUuAMJJQ+iakMCB8eph
